/**
 * Copyright aaronprojects GmbH (www.aaronprojects.de), 2015
 * Distributed under the MIT License.
 * (See accompanying file LICENSE or copy at http://opensource.org/licenses/MIT)
 * Author: Verena Zaiser (verena.zaiser@aaronprojects.de)
 */

p
{
    padding: 10px;
}

.text-content
{
    padding: 20px 10px;
}

.align-middle
{
    vertical-align: middle !important;
}

.help-note
{
    font-size: 14px;

    color: #777;
}

/**
 * Material design
 */
.menu-item
{
    font-size: inherit;
    line-height: 40px;

    position: relative;
    z-index: 1;

    display: block;

    width: 100%;
    max-height: 40px;
    margin: 0;
    padding: 0 28px;

    cursor: pointer;
    -webkit-transition: .45s cubic-bezier(.35, 0, .25, 1);
       -moz-transition: .45s cubic-bezier(.35, 0, .25, 1);
            transition: .45s cubic-bezier(.35, 0, .25, 1);
    -webkit-transition-property: max-height, background-color, opacity;
       -moz-transition-property: max-height, background-color, opacity;
            transition-property: max-height, background-color, opacity;
    text-align: left;
    text-decoration: none;

    opacity: 1;
    color: #333;
    border-width: 0;
    outline: none;
    background: none;
}

.menu-item:hover
{
    background: #b2dfdb;
}

.menu-item.active
{
    color: rgb(255,255,255);
    background-color: rgb(55,71,79);
}

ng-md-icon.active
{
    fill: white;
}

/**
 * active project in list
 */
md-whiteframe.active
{
    color: white;
    background-color: #009688;
}

md-toast.md-default-theme.md-bottom.md-right
{
    max-width: 100% !important;
}

/**
 * sidemenu styling
 */
.sidemenu-icon-text
{
    padding: 15px;
}

.sidemenu-logo
{
    height: 115px;

    border-bottom: 3px solid black;
    background: url('../images/neodym-logo_smaller.png');
    background-size: cover;
}

.sidemenu-footer
{
    padding: 10px 20px;

    border-top: 3px solid;
}

/**
 * img
 */
.bordered
{
    width: 200px;
    margin: 10px;

    border: 1px solid #009688;
}

/** 
 * details and summary elements
 */
details
{
    background: #fff;
}

details summary
{
    font-size: 17px;

    padding: 5px 10px;

    vertical-align: top;

    color: #fff;
    border-radius: 3px;
    outline: none;
    background: #37474f;
}

details[open] summary
{
    color: #fff;
    background: #607d8b;
}


/**
 * alignments 
 */

.fullwidth
{
    height: 80px;
}

.fullwidth:hover
{
    background-color: #b2dfdb;
}

.float-right
{
    float: right;

    padding-right: 30px;
}

/**
 * item styling
 */

.item-names
{
    font-size: 18px;

    padding: 25px 15px;
}

.item-names-double
{
    padding: 10px 15px;
}

/**
 * toast styling
 */

.toast-error
{
    background-color: red !important;
}

.toast-success
{
    background-color: green !important;
}

