<!-- 
/**
 * Copyright aaronprojects GmbH (www.aaronprojects.de), 2015
 * Distributed under the MIT License.
 * (See accompanying file LICENSE or copy at http://opensource.org/licenses/MIT)
 * Author: Verena Zaiser (verena.zaiser@aaronprojects.de)
 */
-->
<!-- header -->
<md-toolbar class="md-primary md-hue-2" ng-init="init()">
    <div class="md-toolbar-tools">
      <span class="md-flex">Project</span>
    </div>
</md-toolbar>

<!-- content -->
<md-content class="md-padding">
	<md-toolbar class="md-primary md-hue-2">
		<div class="md-toolbar-tools">
			<span class="md-flex">Needed dependencies</span>
		</div>
	</md-toolbar>
	<p>The following dependencies are required to develop hybrid apps with Ionic using neodym: <br><br>
	angular-mocks, bower, grunt, grunt-browserify, grunt-contrib-jshint, grunt-contrib-watch, grund-karma, gulp, gulp-concat, gulp-minify-css, gulp-rename, gulp-sass, gulp-util, jasmine-core, jshint-html-reporter, karma, karma-chrome-launcher, karma-coverage, karma-jasmine, shelljs
	</p>
	<md-button class="md-raised md-primary" ladda="installButton" data-size="xs" ng-click="executeNpmInstall()">Install dependencies</md-button>
	</md-content>

	<!-- list of dependencies including their install state -->
	<md-content class="md-padding">
	<md-toolbar class="md-primary md-hue-2">
		<div class="md-toolbar-tools">
			<span class="md-flex">Installed dependencies</span>
		</div>
	</md-toolbar>
		<md-list>
			<md-item ng-repeat="dependency in dependencies">
			<md-item-content>
				<img src="bower_components/material-design-icons/navigation/svg/design/ic_check_24px.svg" class="face" alt="" ng-show="dependency.installed">
				<img src="bower_components/material-design-icons/navigation/svg/design/ic_close_24px.svg" class="face" alt="" ng-hide="dependency.installed">
				<strong>{{dependency.name}}</strong>
				<span style="font-style: italic">{{dependency.description}}</span>
			</md-item-content>
			</md-item>
		</md-list>

		<!-- buttons -->
		<!-- <md-button class="md-raised md-primary" ladda="refresh" ng-click="checkIfInstalled()">Refresh</md-button> -->
<md-content>


