<!DOCTYPE html>
<html data-ng-app="neodym">
<head>
    <title>neodym IDE</title>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <!-- <link rel="stylesheet" type="text/css" href="bower_components/ladda/dist/ladda.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="bower_components/ladda/dist/ladda-themeless.min.css"> -->
</head>
<body>

   <div ng-controller="HeaderController" layout="column" layout-fill>
     <section layout="row" flex>
		<md-sidenav layout="column" style="overflow: hidden; display: flex;" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
		    <md-toolbar class="md-primary md-hue-2">
                <div class="sidemenu-logo"></div>
                
		    </md-toolbar>
		    <md-content>
		      <div ng-repeat="item in items">
		        <button class="menu-item menu-title md-menu-item" ng-class="item.active" ng-click="setActive(item)" md-highlight="menu.isSectionSelected(item)" md-ink-ripple="#bbb">
                    <md-icon md-svg-src="bower_components/material-design-icons/{{item.icon}}" ng-class="item.active" alt="Cake"></md-icon><span class="sidemenu-icon-text">{{item.name}}</span>
		        </button>
		      </div>
              <div class="sidemenu-footer"> 
                  <!-- <img class="sidemenu-icon" ng-src="bower_components/material-design-icons/hardware/svg/design/ic_keyboard_control_24px.svg" ng-click="openShell()"> -->
                  <div ng-click="openFolder()">
                    <md-button class="md-raised md-primary" ng-click="openFolder()">Open project in explorer</md-button>
                  </div>
              </div>
		    </md-content>
		  </md-sidenav>
       </md-sidenav>
       <md-content flex>
			<div class="view-animate-container">
				<div ng-view class="view-animate"></div>
			</div>
       </md-content>
     </section>
   </div>
    <!-- BEGIN libraries -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
    <script type='text/javascript' src="node_modules/angular-resource/angular-resource.js"></script>
    <script type='text/javascript' src="node_modules/angular-route/angular-route.js"></script>

    <!-- angular material -->
    <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
    <script type='text/javascript' src="bower_components/ladda/dist/spin.min.js"></script>
    <script type='text/javascript' src="bower_components/ladda/dist/ladda.min.js"></script>
    <script type='text/javascript' src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>

    <script type='text/javascript' src="js/lib/xml2json.min.js"></script>
    <!-- END libraries -->

    <!-- app scripts -->
    <script type="text/javascript" src="js/app.js"></script>

    <!-- BEGIN controllers -->
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/controllers/HeaderController.js"></script>
    <script type="text/javascript" src="js/controllers/home/HomeOverviewController.js"></script>
    <script type="text/javascript" src="js/controllers/project/ProjectOverviewController.js"></script>
    <script type="text/javascript" src="js/controllers/codeanalysis/CodeanalysisOverviewController.js"></script>
    <script type="text/javascript" src="js/controllers/components/ComponentsOverviewController.js"></script>
    <script type="text/javascript" src="js/controllers/libraries/LibrariesOverviewController.js"></script>
    <script type="text/javascript" src="js/controllers/plugins/PluginsOverviewController.js"></script>
    <script type="text/javascript" src="js/controllers/settings/SettingsOverviewController.js"></script>
    <script type="text/javascript" src="js/controllers/tasks/TasksOverviewController.js"></script>
    <script type="text/javascript" src="js/controllers/testing/TestingOverviewController.js"></script>
    <script type="text/javascript" src="js/controllers/release/ReleaseOverviewController.js"></script>
    <!-- END controllers -->

    <!-- BEGIN directives -->
    <script type="text/javascript" src="js/directives.js"></script>
    <!-- END directives -->

    <!-- BEGIN filters -->
    <script type="text/javascript" src="js/filters.js"></script>
    <!-- END filters -->

    <!-- BEGIN services -->
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/services/ProjectService.js"></script>
    <script type="text/javascript" src="js/services/TaskService.js"></script>
    <script type="text/javascript" src="js/services/FileService.js"></script>
    <script type="text/javascript" src="js/services/RepositoryService.js"></script>
    <!-- END services -->

</body>
</html>
