<!-- 
/**
 * Copyright aaronprojects GmbH (www.aaronprojects.de), 2015
 * Distributed under the MIT License.
 * (See accompanying file LICENSE or copy at http://opensource.org/licenses/MIT)
 * Author: Verena Zaiser (verena.zaiser@aaronprojects.de)
 */
-->
<!-- header -->
<md-toolbar class="md-primary md-hue-2" ng-init="init()">
	<div class="md-toolbar-tools">
		<span class="md-flex">Home</span>
	</div>
</md-toolbar>

<!-- content -->
<md-content class="md-padding">

	<!-- create new project -->
	<md-toolbar class="md-primary md-hue-2">
		<div class="md-toolbar-tools">
			<span class="md-flex">Create new project</span>
		</div>
	</md-toolbar>
	
	<form name="newProjectForm">

		<!-- name -->
		<md-input-container>
			<label>Name</label>
			<input name="projectName" ng-model="project.title" required>
		</md-input-container>

		<!-- description -->
		<md-input-container flex>
			<label>Description</label>
			<textarea name="description" ng-model="project.description" columns="1" md-maxlength="150"></textarea>
		</md-input-container>

		<!-- choose template -->
		<input type="file" id="fileDialog" onchange="angular.element(this).scope().setDirectoryPath(this)" nwdirectory />
		<table>
			<tr>
				<td>
					<md-radio-group class="md-primary md-hue-2" ng-model="project.template">
						<md-radio-button class="md-primary md-hue-2" value="blank">Blank</md-radio-button>
						<md-radio-button class="md-primary md-hue-2" value="sidemenu">Sidemenu</md-radio-button>
						<md-radio-button class="md-primary md-hue-2" value="tabs">Tabs</md-radio-button>
					</md-radio-group>
				</td>
				<td>
					<div layout="row">
						<div ng-show="project.template == 'blank'">
							<img class="bordered" src="images/app-templates/template-blank.png" alt="">
						</div>
						<div ng-show="project.template == 'tabs'">
							<img class="bordered" src="images/app-templates/template-tabs.png" alt="">
						</div>
						<div ng-show="project.template == 'sidemenu'">
							<img class="bordered" src="images/app-templates/template-sidemenu.png" alt="">
						</div>
					</div>
				</td>
			</tr>
		</table>

		<!-- select target platforms -->
		<div layout="row">
			<div>
				<md-checkbox class="md-primary md-hue-2" ng-model="project.android" aria-label="android">
				  Android
				</md-checkbox>
			</div>
			<div>
				<md-checkbox class="md-primary md-hue-2" ng-model="project.ios" aria-label="ios">
				  iOS
				</md-checkbox>
			</div>
		</div>

		<!-- create button -->
		<md-button class="md-raised md-primary" ladda="createButton" ng-click="createProject()">Create</md-button>
	</form>
</md-content>


<md-content class="md-padding">
	<!-- list existing projects -->
	<md-toolbar class="md-primary md-hue-2">
		<div class="md-toolbar-tools">
			<span class="md-flex">Import an existing project</span>
		</div>
	</md-toolbar>
	<!-- <input type="file" id="fileDialog" onchange="angular.element(this).scope().setImportDirectory(this)" nwdirectory /> -->
	
	<!-- name -->
	<md-input-container>
		<label>Title</label>
		<input name="importProjectPath" ng-model="importedProject.title" required>
	</md-input-container>

	<!-- path -->
	<md-input-container>
		<label>Path</label>
		<input name="importProjectPath" ng-model="importedProject.path" required>
	</md-input-container>
	<md-button class="md-raised md-primary" ng-click="importProject(importedProject)">Import</md-button>

</md-content>

<md-content class="md-padding">
	<!-- list existing projects -->
	<md-toolbar class="md-primary md-hue-2">
		<div class="md-toolbar-tools">
			<span class="md-flex">Manage existing projects</span>
		</div>
	</md-toolbar>
	<div ng-repeat="project in projects | orderBy:'id' track by $index">
		<md-whiteframe class="md-whiteframe-z1" layout ng-class="{active: checkIfActive(project) == true}">
			<div layout="row" layout-margin layout-fill layout-padding>
				<div flex="50" style="vertical-align:middle">
					<md-button ng-click="openProject(project)">{{project.title}}</md-button>
				</div>
				<div flex>
					<span ng-if="project.description.length <= 0" style="font-style: italic">No description available</span>
					{{project.description}} <br>
					<strong>Last modified:</strong> {{project.timestamp}} <br>
					<strong>Path:</strong> {{project.path}}
				</div>
			</div>  
		</md-whiteframe>
	</div>
<md-content>