<!-- 
/**
 * Copyright aaronprojects GmbH (www.aaronprojects.de), 2015
 * Distributed under the MIT License.
 * (See accompanying file LICENSE or copy at http://opensource.org/licenses/MIT)
 * Author: Verena Zaiser (verena.zaiser@aaronprojects.de)
 */
-->
<md-dialog aria-label="Add new component">
	<md-toolbar class="md-primary md-hue-2">
		<div class="md-toolbar-tools">
			Import existing project
		</div>
	</md-toolbar>
	<md-content>
		<md-input-container flex>
			<label>Name</label>
			<input ng-model="importedProject.title">
		</md-input-container>
		<md-input-container flex>
			<label>Path</label>
			<input ng-model="importedProject.path">
		</md-input-container>
	</md-content>
	<div class="md-actions" layout="row">
		<md-button ng-click="hide()">Cancel</md-button>
		<md-button ng-click="answer(importedProject)" class="md-primary">Add</md-button>
	</div>
</md-dialog>