<!-- 
/**
 * Copyright aaronprojects GmbH (www.aaronprojects.de), 2015
 * Distributed under the MIT License.
 * (See accompanying file LICENSE or copy at http://opensource.org/licenses/MIT)
 * Author: Verena Zaiser (verena.zaiser@aaronprojects.de)
 */
-->
<!-- header -->
<md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
      <span class="md-flex">Tasks</span>
    </div>
</md-toolbar>

<!-- content -->
<md-content class="md-padding" ng-init="init()">
	<md-button class="md-raised md-primary" ng-click="showAddTaskDialog($event)">Add task</md-button> <br> <br>

	<!-- webview tasks -->
	<md-toolbar class="md-primary md-hue-2">
		<div class="md-toolbar-tools">
			<span class="md-flex">Webview</span>
		</div>
	</md-toolbar>
	<md-list>
		<md-item ng-repeat="webviewTask in taskList | filter:{platform: 'webview'} track by $index">
			<div class="fullwidth">
				<div class="float-right">
					<md-button class="md-fab md-primary" aria-label="delete" ng-click="deleteTask(webviewTask)" ng-hide="webviewTask.systemtask">
			            <ng-md-icon icon="delete" style="fill: white"></ng-md-icon>
			        </md-button>
	        		<md-button class="md-fab md-primary md-primary" aria-label="stop" ng-if="webviewTask.stoppable" ng-click="stopTask(webviewTask)">
	        			<ng-md-icon icon="stop" style="fill: white"></ng-md-icon>
	                </md-button>
					<md-button class="md-fab md-primary md-primary" aria-label="run" ladda="runButton" ng-click="runTask(webviewTask)">
			            <ng-md-icon icon="play_arrow" style="fill: white"></ng-md-icon>
			        </md-button>
		        </div>
		        <div>
					<div class="item-names-double"><strong>{{webviewTask.name}}</strong><br>
						<span style="font-style:italic; font-size: 14px">{{webviewTask.description}}</span>
					</div>
				</div>
			</div>
		</md-item>
</md-list>
<!-- android tasks -->
<md-toolbar class="md-primary md-hue-2">
	<div class="md-toolbar-tools">
		<span class="md-flex">Android</span>
	</div>
</md-toolbar>
<md-list>
	<md-item ng-repeat="androidTask in taskList | filter:{platform: 'android'} track by $index">
	<div class="fullwidth">
		<div class="float-right">
			<md-button class="md-fab md-primary" aria-label="delete" ng-click="deleteTask(androidTask)" ng-hide="androidTask.systemtask">
        		<ng-md-icon icon="delete" style="fill: white"></ng-md-icon>
	        </md-button>
    		<md-button class="md-fab md-primary md-primary" aria-label="stop" ng-if="androidTask.stoppable" ng-click="stopTask()">
                <ng-md-icon icon="stop" style="fill: white"></ng-md-icon>
            </md-button>
			<md-button class="md-fab md-primary" aria-label="run" ladda="runButton" ng-click="runTask(androidTask)">
	            <ng-md-icon icon="play_arrow" style="fill: white"></ng-md-icon>
	        </md-button>
        </div>
		<div class="item-names-double"><strong>{{androidTask.name}}</strong><br>
			<span style="font-style:italic; font-size: 14px">{{androidTask.description}}</span>
		</div>
	</div>
	</md-item>
</md-list>

<!-- ios tasks -->
<md-toolbar class="md-primary  md-hue-2">
	<div class="md-toolbar-tools">
		<span class="md-flex">iOS</span>
	</div>
</md-toolbar>
<md-list>
	<md-item ng-repeat="iosTask in taskList | filter:{platform: 'ios'} track by $index">
		<div class="fullwidth">
			<div class="float-right">
				<md-button class="md-fab md-primary" aria-label="delete" ng-click="deleteTask(iosTask)" ng-hide="iosTask.systemtask">
		            <ng-md-icon icon="delete" style="fill: white"></ng-md-icon>
		        </md-button>
        		<md-button class="md-fab md-primary md-primary" aria-label="stop" ng-if="iosTask.stoppable" ng-click="stopTask()">
                    <ng-md-icon icon="stop" style="fill: white"></ng-md-icon>
                </md-button>
				<md-button class="md-fab md-primary" aria-label="run" ladda="runButton" ng-click="runTask(iosTask)">
		            <ng-md-icon icon="play_arrow" style="fill: white"></ng-md-icon>
		        </md-button>
	        </div>
			<div class="item-names-double"><strong>{{iosTask.name}}</strong><br>
				<span style="font-style:italic; font-size: 14px">{{iosTask.description}}</span>
			</div>
		</div>
	</md-item>
</md-list>

<!-- custom tasks -->
<md-toolbar class="md-primary  md-hue-2">
	<div class="md-toolbar-tools">
		<span class="md-flex">Custom</span>
	</div>
</md-toolbar>
<md-list>
	<md-item ng-repeat="customTask in taskList | filter:{platform: 'custom'} track by $index">
		<div class="fullwidth">
			<div class="float-right">
				<md-button class="md-fab md-primary" aria-label="delete" ng-click="deleteTask(customTask)" ng-hide="customTask.systemtask">
		            <ng-md-icon icon="delete" style="fill: white"></ng-md-icon>
		        </md-button>
        		<md-button class="md-fab md-primary md-primary" aria-label="stop" ng-if="deleteTask.stoppable" ng-click="stopTask()">
                    <ng-md-icon icon="stop" style="fill: white"></ng-md-icon>
                </md-button>
				<md-button class="md-fab md-primary" aria-label="run" ladda="runButton" ng-click="runTask(customTask)">
		            <ng-md-icon icon="play_arrow" style="fill: white"></ng-md-icon>
		        </md-button>
	        </div>
	        <div class="item-names-double"><strong>{{customTask.name}}</strong><br>
	        	<span style="font-style:italic; font-size: 14px">{{customTask.description}}</span>
	        </div>
		</div>
	</md-item>
</md-list>
<md-content>